<!doctype html>
<html class="no-js" lang="pt">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        <%= pageName %> | <%= title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="/assets/images/favicon.ico" type="img/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/iconfont.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/helper.css">
    <link rel="stylesheet" href="/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Modernizr JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <div id="main-wrapper">

        <!--Login Register section start-->
        <div
            class="login-register-section section pt-90 pt-lg-70 pt-md-60 pt-sm-55 pt-xs-45  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
            <div class="container">
                <div class="row">
                    <!--Login Form Start-->
                    <div class="col-md-12 col-sm-12 d-flex justify-content-center ">
                        <div class="customer-login-register ">
                            <div class="form-login-title">

                                <h2>Login</h2>

                            </div>
                            <div class="logo-area">
                                <a href="/"><img src="/assets/images/logo.png" style="max-width:200px;" alt=""></a>
                            </div>
                            <div class="login-form">
                                <form method="POST">
                                    <div class="form-fild">
                                        <p><label>Username or email address <span class="required">*</span></label></p>
                                        <input name="username" id="username" value="" type="text">
                                    </div>
                                    <div class="form-fild">
                                        <p><label>Password <span class="required">*</span></label></p>
                                        <input name="password" id="password" value="" type="password">
                                    </div>
                                    <div class="login-submit">
                                        <button type="submit" class="btn" id="submit-button">Login</button>
                                        <!-- <label>
                                            <input class="checkbox" name="rememberme" value="" type="checkbox">
                                            <span>Remember me</span>
                                        </label> -->
                                    </div>
                                    <div class="lost-password">
                                        <!-- <a href="#">Lost your password?</a> -->
                                        <p style="color:red" id="result"></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--Login Form End-->

                </div>
            </div>
        </div>
        <!--Login Register section end-->

    </div>

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- All jquery file included here -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        const loginBtn = document.getElementById('submit-button');
        const resultDiv = document.getElementById('result');
        const loginApi = `${baseUrl}/api/v1/user/login`;
        loginBtn.addEventListener('click', async (e) => {
            try {
                e.preventDefault();
                const usernameInput = document.getElementById('username');
                const passwordInput = document.getElementById('password');
                const data = {
                    email: usernameInput.value,
                    password: passwordInput.value,
                };

                const response = await fetch(loginApi, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });
                console.log("response ", response);
                if (response.ok) {
                    const responseData = await response.json();
                    if (responseData?.success) {
                        window.localStorage.setItem("access_token", responseData.token);
                        window.location.href = "/admin";
                    }
                } else {
                    resultDiv.innerText = 'An error occurred during login.';
                }
            } catch (error) {
                console.log("error ", error)
                resultDiv.innerText = 'An error occurred while fetching data from the API.';
            }
        });
    </script>

</body>


</html>